@model Online_Flight_Reservation_System.Models.Schedule

@{
    ViewBag.Title = "EditSchedule";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <br /><br />
          <h2>Edit Schedule Details</h2>
    <br />
    <div>
       <input type="Button" value="Go Back" class="btn btn-warning" onclick="location.href='@Url.Action("SchdeuleFlight", "FlightAdmin" , new { id = Convert.ToInt32(@ViewBag.FlightID) } )'" />
    </div>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ScheduleID)

    <div class="form-group">
        @Html.LabelFor(model => model.FlightID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FlightID, new {  htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.FlightID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DepartureDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DepartureDateTime, new { htmlAttributes = new { @class = "form-control", type = "text", maxlength = "19", required = "required" } })
            @Html.ValidationMessageFor(model => model.DepartureDateTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ArrivalDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ArrivalDateTime, new { htmlAttributes = new { @class = "form-control" , type = "text", maxlength = "19", required = "required" } })
            @Html.ValidationMessageFor(model => model.ArrivalDateTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RouteName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RouteName, new { htmlAttributes = new { @class = "form-control", type = "text", maxlength = "50", required = "required" } })
            @Html.ValidationMessageFor(model => model.RouteName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update Changes" class="btn btn-info" />&nbsp;&nbsp;&nbsp;
            <input type="Button" value="Go Back" class="btn btn-warning" onclick="location.href='@Url.Action("SchdeuleFlight", "FlightAdmin" , new { id = Convert.ToInt32(@ViewBag.FlightID) } )'" />
        </div>
    </div>
</div>
}
